# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDEs y carpetas de configuración
.idea/
.vscode/
cmake-build-debug/
build/
CMakeFiles/
Makefile
CMakeCache.txt
compile_commands.json

# Archivos temporales de sistema
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
